.App {
<<<<<<< HEAD
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
=======
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App ol li {
  font-size: 1.2em;
  margin: 10px;
}

.todo-input {
  padding: 2px;
  min-width: 250px;
  min-height: 25px;
  font-size: 1.2em;
  margin: 10px;
}

.save-button {
  font-size: 1.2em;
}

.todo-content {
  width: 50%;
}

@media (max-width: 700px) {
  .todo-content {
    width: 95%;
  }
}
>>>>>>> f0e972286c011118db464af27bc4d6a246d6b1b3
